<div class="row">
    <div class="login-dark">

        <form method="post" action="/login">
            <h2 class="sr-only">Add a Food</h2>

            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group">
                <input class="form-control"  name="food" placeholder="Chinzo" id="nameOfFood">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" id="AddFood">Add Food</button>
            </div>
        </form>

    </div>
</div>

