<div class="row">
    <div class="login-dark">

        <form method="post" action="/login">
            <h2 class="sr-only">Search a Recipe of Food</h2>

            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group">
                <input class="form-control"  name="food" placeholder="Chicken" id="foodSearch">
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" id="searchFood">Search</button>
            </div>
        </form>

    </div>
</div>

