<div class="jumbotron hero">
    <div class="container">

        <div class="row">
            <div id="heroText"class="col-md-2 col-md-offset-3">
                <h3>Food is better when you start from scratch.</h3>
                <a href="https://savor-flavor.herokuapp.com/register"><h1>Search</h1></a>
  
                <!-- <p><a class="btn btn-primary btn-lg" role="button" href="#"><i class="fa fa-user-plus"></i>Join Now</a></p> -->
            </div>
        </div>
    </div>
</div>

    <div class="features-clean ">
        <div class="container">
            {{!-- <div class="intro">
                <h2 class="text-center" id="howitworks">How It Works</h2>
            </div> --}}
            
        </div>
    </div>


    
    
